In [2]:
import pandas as pd
music_rank = pd.read_csv(r'C:\Users\AdminA\Desktop\Blossom files\Assign1\billboard.csv')
music_rank

,artiste,track,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,x4th.week,x5th.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,Destiny's Child,Independent Women Part I,Rock,2000-09-23,2000-11-18,78,63.0,49.0,33.0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Santana,"Maria, Maria",Rock,2000-02-12,2000-04-08,15,8.0,6.0,5.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Savage Garden,I Knew I Loved You,Rock,1999-10-23,2000-01-29,71,48.0,43.0,31.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Madonna,Music,Rock,2000-08-12,2000-09-16,41,23.0,18.0,14.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),Rock,2000-08-05,2000-10-14,57,47.0,45.0,29.0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,Ghostface Killah,Cherchez LaGhost,R&B,2000-08-05,2000-08-05,98,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,"Smith, Will",Freakin' It,Rap,2000-02-12,2000-02-12,99,99.0,99.0,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,Zombie Nation,Kernkraft 400,Rock,2000-09-02,2000-09-02,99,99.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,"Eastsidaz, The",Got Beef,Rap,2000-07-01,2000-07-01,99,99.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,Fragma,Toca's Miracle,R&B,2000-10-28,2000-10-28,99,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
music_rank_melt = pd.melt(music_rank, id_vars=['artiste','track','genre','date.entered','date.peaked'])
music_rank_melt

,artiste,track,genre,date.entered,date.peaked,variable,value
0,Destiny's Child,Independent Women Part I,Rock,2000-09-23,2000-11-18,x1st.week,78.0
1,Santana,"Maria, Maria",Rock,2000-02-12,2000-04-08,x1st.week,15.0
2,Savage Garden,I Knew I Loved You,Rock,1999-10-23,2000-01-29,x1st.week,71.0
3,Madonna,Music,Rock,2000-08-12,2000-09-16,x1st.week,41.0
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),Rock,2000-08-05,2000-10-14,x1st.week,57.0
...,...,...,...,...,...,...,...
24087,Ghostface Killah,Cherchez LaGhost,R&B,2000-08-05,2000-08-05,x76th.week,NaN
24088,"Smith, Will",Freakin' It,Rap,2000-02-12,2000-02-12,x76th.week,NaN
24089,Zombie Nation,Kernkraft 400,Rock,2000-09-02,2000-09-02,x76th.week,NaN
24090,"Eastsidaz, The",Got Beef,Rap,2000-07-01,2000-07-01,x76th.week,NaN
24091,Fragma,Toca's Miracle,R&B,2000-10-28,2000-10-28,x76th.week,NaN

In [4]:
music_rank_melt = music_rank_melt.rename(columns={'variable':'week','value':'rank'})
music_rank_melt

,artiste,track,genre,date.entered,date.peaked,week,rank
0,Destiny's Child,Independent Women Part I,Rock,2000-09-23,2000-11-18,x1st.week,78.0
1,Santana,"Maria, Maria",Rock,2000-02-12,2000-04-08,x1st.week,15.0
2,Savage Garden,I Knew I Loved You,Rock,1999-10-23,2000-01-29,x1st.week,71.0
3,Madonna,Music,Rock,2000-08-12,2000-09-16,x1st.week,41.0
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),Rock,2000-08-05,2000-10-14,x1st.week,57.0
...,...,...,...,...,...,...,...
24087,Ghostface Killah,Cherchez LaGhost,R&B,2000-08-05,2000-08-05,x76th.week,NaN
24088,"Smith, Will",Freakin' It,Rap,2000-02-12,2000-02-12,x76th.week,NaN
24089,Zombie Nation,Kernkraft 400,Rock,2000-09-02,2000-09-02,x76th.week,NaN
24090,"Eastsidaz, The",Got Beef,Rap,2000-07-01,2000-07-01,x76th.week,NaN
24091,Fragma,Toca's Miracle,R&B,2000-10-28,2000-10-28,x76th.week,NaN

In [5]:
music_rank_melt.dtypes

artiste          object
track            object
genre            object
date.entered     object
date.peaked      object
week             object
rank            float64
dtype: object

In [6]:
music_rank_melt['week'] = music_rank_melt['week'].str.extract('(\d+)').astype(int)
music_rank_melt

,artiste,track,genre,date.entered,date.peaked,week,rank
0,Destiny's Child,Independent Women Part I,Rock,2000-09-23,2000-11-18,1,78.0
1,Santana,"Maria, Maria",Rock,2000-02-12,2000-04-08,1,15.0
2,Savage Garden,I Knew I Loved You,Rock,1999-10-23,2000-01-29,1,71.0
3,Madonna,Music,Rock,2000-08-12,2000-09-16,1,41.0
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),Rock,2000-08-05,2000-10-14,1,57.0
...,...,...,...,...,...,...,...
24087,Ghostface Killah,Cherchez LaGhost,R&B,2000-08-05,2000-08-05,76,NaN
24088,"Smith, Will",Freakin' It,Rap,2000-02-12,2000-02-12,76,NaN
24089,Zombie Nation,Kernkraft 400,Rock,2000-09-02,2000-09-02,76,NaN
24090,"Eastsidaz, The",Got Beef,Rap,2000-07-01,2000-07-01,76,NaN
24091,Fragma,Toca's Miracle,R&B,2000-10-28,2000-10-28,76,NaN

In [7]:
music_rank_melt.dtypes

artiste          object
track            object
genre            object
date.entered     object
date.peaked      object
week              int32
rank            float64
dtype: object

In [8]:
music_rank_melt['date.entered'] = pd.to_datetime(music_rank_melt['date.entered'])
music_rank_melt['date.peaked'] = pd.to_datetime(music_rank_melt['date.peaked'])

In [10]:
music_rank_melt['entered_to_peak'] = music_rank_melt['date.peaked'] - music_rank_melt['date.entered']
music_rank_melt

,artiste,track,genre,date.entered,date.peaked,week,rank,entered_to_peak
0,Destiny's Child,Independent Women Part I,Rock,2000-09-23,2000-11-18,1,78.0,56 days
1,Santana,"Maria, Maria",Rock,2000-02-12,2000-04-08,1,15.0,56 days
2,Savage Garden,I Knew I Loved You,Rock,1999-10-23,2000-01-29,1,71.0,98 days
3,Madonna,Music,Rock,2000-08-12,2000-09-16,1,41.0,35 days
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),Rock,2000-08-05,2000-10-14,1,57.0,70 days
...,...,...,...,...,...,...,...,...
24087,Ghostface Killah,Cherchez LaGhost,R&B,2000-08-05,2000-08-05,76,NaN,0 days
24088,"Smith, Will",Freakin' It,Rap,2000-02-12,2000-02-12,76,NaN,0 days
24089,Zombie Nation,Kernkraft 400,Rock,2000-09-02,2000-09-02,76,NaN,0 days
24090,"Eastsidaz, The",Got Beef,Rap,2000-07-01,2000-07-01,76,NaN,0 days
24091,Fragma,Toca's Miracle,R&B,2000-10-28,2000-10-28,76,NaN,0 days

In [11]:
music_rank_melt['entered_to_peak'] = music_rank_melt['entered_to_peak'].dt.days

In [12]:
music_rank_melt.head()

,artiste,track,genre,date.entered,date.peaked,week,rank,entered_to_peak
0,Destiny's Child,Independent Women Part I,Rock,2000-09-23,2000-11-18,1,78.0,56
1,Santana,"Maria, Maria",Rock,2000-02-12,2000-04-08,1,15.0,56
2,Savage Garden,I Knew I Loved You,Rock,1999-10-23,2000-01-29,1,71.0,98
3,Madonna,Music,Rock,2000-08-12,2000-09-16,1,41.0,35
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),Rock,2000-08-05,2000-10-14,1,57.0,70

In [13]:
music_rank_melt

,artiste,track,genre,date.entered,date.peaked,week,rank,entered_to_peak
0,Destiny's Child,Independent Women Part I,Rock,2000-09-23,2000-11-18,1,78.0,56
1,Santana,"Maria, Maria",Rock,2000-02-12,2000-04-08,1,15.0,56
2,Savage Garden,I Knew I Loved You,Rock,1999-10-23,2000-01-29,1,71.0,98
3,Madonna,Music,Rock,2000-08-12,2000-09-16,1,41.0,35
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),Rock,2000-08-05,2000-10-14,1,57.0,70
...,...,...,...,...,...,...,...,...
24087,Ghostface Killah,Cherchez LaGhost,R&B,2000-08-05,2000-08-05,76,NaN,0
24088,"Smith, Will",Freakin' It,Rap,2000-02-12,2000-02-12,76,NaN,0
24089,Zombie Nation,Kernkraft 400,Rock,2000-09-02,2000-09-02,76,NaN,0
24090,"Eastsidaz, The",Got Beef,Rap,2000-07-01,2000-07-01,76,NaN,0
24091,Fragma,Toca's Miracle,R&B,2000-10-28,2000-10-28,76,NaN,0

In [14]:
rock_1 = music_rank_melt.loc[(music_rank_melt['genre'] == 'Rock') 
                             & (music_rank_melt['rank'] == 1.0) 
                             & (music_rank_melt['entered_to_peak'] == 35), 
                             ['artiste', 'track', 'genre', 'rank', 'entered_to_peak']]
rock_1

      artiste  track genre  rank  entered_to_peak
1588  Madonna  Music  Rock   1.0               35
1905  Madonna  Music  Rock   1.0               35
2222  Madonna  Music  Rock   1.0               35
2539  Madonna  Music  Rock   1.0               35

In [16]:
adadmusic_rank_melt[['artiste', 'track', 'genre', 'rank', 'entered_to_peak']][music_rank_melt['genre'] == 'Rock'][music_rank_melt['rank'] == 1.0][music_rank_melt['entered_to_peak'] == 35]

c:\users\admina\desktop\blossom\blossom_env\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

      artiste  track genre  rank  entered_to_peak
1588  Madonna  Music  Rock   1.0               35
1905  Madonna  Music  Rock   1.0               35
2222  Madonna  Music  Rock   1.0               35
2539  Madonna  Music  Rock   1.0               35

In [14]:
music_rank_melt.sample(4)

,artiste,track,genre,date.entered,date.peaked,week,rank,entered_to_peak
9342,Lonestar,Smile,Country,1999-12-18,2000-02-12,30,0.0,56
34,Blaque,Bring It All To Me,Pop,1999-10-23,2000-01-22,1,73.0,91
17863,"Houston, Whitney",I Learned From The Best,Rock,2000-02-19,2000-03-25,57,0.0,35
1316,Next,Wifey,Rock,2000-05-27,2000-09-09,5,36.0,105

In [15]:
music_rank_melt.sample(5)

,artiste,track,genre,date.entered,date.peaked,week,rank,entered_to_peak
14363,"Moore, Mandy",I Wanna Be With You,Pop,2000-06-17,2000-08-12,46,0.0,56
18079,N'Sync,It's Gonna Be Me,Rock,2000-05-06,2000-07-29,58,0.0,84
7172,SheDaisy,This Woman Needs,Country,2000-02-05,2000-03-04,23,0.0,28
2048,Rascal Flatts,Prayin' For Daylight,Country,2000-05-06,2000-08-12,7,58.0,98
10675,SheDaisy,Deck The Halls,Country,1999-12-25,2000-01-01,34,0.0,7

In [16]:
music_rank_melt.sample(6)

,artiste,track,genre,date.entered,date.peaked,week,rank,entered_to_peak
13463,Lonestar,Smile,Country,1999-12-18,2000-02-12,43,0.0,56
5914,Sister Hazel,Change Your Mind,Rock,2000-07-15,2000-08-05,19,96.0,21
9618,"Tritt, Travis",Best Of Intentions,Country,2000-08-19,2000-12-02,31,0.0,105
18148,"Thomas, Carl",I Wish,Rock,2000-03-25,2000-05-13,58,0.0,49
2169,"McKnight, Brian",Stay Or Let It Go,Rock,2000-02-26,2000-03-25,7,100.0,28
5548,SheDaisy,I Will.. But,Country,2000-07-15,2000-09-16,18,81.0,63

In [17]:
music_rank_melt.sample(7)

,artiste,track,genre,date.entered,date.peaked,week,rank,entered_to_peak
12235,Beenie Man,Girls Dem Sugar,Reggae,2000-10-21,2000-12-02,39,0.0,42
13717,"Brock, Chad",Yes!,Country,2000-04-08,2000-07-01,44,0.0,84
19908,Yankee Grey,Another Nine Minutes,Country,2000-04-29,2000-05-20,63,0.0,21
7270,"Diffie, Joe",The Quittin' Kind,Country,2000-01-01,2000-01-22,23,0.0,21
16899,"Moore, Mandy",I Wanna Be With You,Pop,2000-06-17,2000-08-12,54,0.0,56
15535,Savage Garden,I Knew I Loved You,Rock,1999-10-23,2000-01-29,50,0.0,98
5091,Dream,He Loves U Not,Rock,2000-09-30,2000-12-30,17,3.0,91

In [18]:
music_rank_melt.sample(8)

,artiste,track,genre,date.entered,date.peaked,week,rank,entered_to_peak
13017,"Braxton, Toni",He Wasn't Man Enough,Rock,2000-03-18,2000-05-06,42,0.0,49
22236,Creed,Higher,Rock,1999-09-11,2000-07-22,71,0.0,315
10764,Lil' Mo,Ta Da,Rap,2000-08-12,2000-09-16,34,0.0,35
23495,N'Sync,This I Promise You,Rock,2000-09-30,2000-12-02,75,0.0,63
1279,"Aguilera, Christina",What A Girl Wants,Rock,1999-11-27,2000-01-15,5,13.0,49
22934,Hoku,Another Dumb Blonde,Pop,2000-02-19,2000-04-08,73,0.0,49
11280,Bloodhound Gang,The Bad Touch,R&B,2000-03-18,2000-04-15,36,0.0,28
14312,Nelly,(Hot S**t) Country Grammar,Rap,2000-04-29,2000-09-16,46,0.0,140